<ion-header>
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="primary" (click)="getLocation()">Primary</ion-button>
      <ion-text color="primary">
        <p>
          Latitude: {{ latitude }} <br>
          Longitude: {{ longitude }}
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
