<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <webcam [height]="400" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)">
      </webcam>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="tertiary" (click)="triggerSnapshot()">Take A Snapshot</ion-button>
      <ion-button (click)="toggleWebcam()">Toggle Webcam</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button shape="round" (click)="showNextWebcam(true)" [disabled]="!multipleWebcamsAvailable">Next Webcam</ion-button>
      <ion-checkbox color="secondary" [(ngModel)]="allowCameraSwitch"></ion-checkbox>
      <ion-label>Allow Camera Switch</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-input [(ngModel)]="deviceId" placeholder="Enter device id"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="primary" (click)="showNextWebcam(deviceId)">Activate</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-text color="dark">
        <h4 *ngIf="errors.length > 0">Messages:</h4>
        <ul *ngFor="let error of errors">
          <li>{{error | json}}</li>
        </ul>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center" *ngIf="webcamImage">
    <ion-col size="8">
      <ion-img [src]="webcamImage.imageAsDataUrl"></ion-img>
    </ion-col>
  </ion-row>
</ion-content>
