<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38755914548-91nsropk062629jro5iqfa6305hhrnff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38755914548-91nsropk062629jro5iqfa6305hhrnff</string>
	<key>API_KEY</key>
	<string>AIzaSyCHKMTc3q3Hmguc5fH2yQO-2A63EF6xBdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>38755914548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamandwin.demo</string>
	<key>PROJECT_ID</key>
	<string>teamandwin-3c82f</string>
	<key>STORAGE_BUCKET</key>
	<string>teamandwin-3c82f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38755914548:ios:70c13f048658261a7b0b61</string>
	<key>DATABASE_URL</key>
	<string>https://teamandwin-3c82f.firebaseio.com</string>
</dict>
</plist>